// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Global
  ======================================================================*/
* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  height: 100%;
  font-family: "Adobe Heiti Std", "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  background-color: #080929;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p, a, button, span {
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

.pa {
  position: absolute;
}

.full-size {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1920px;
}

//  color
$orange : #d86f44;


//  scene
.scene {
  @extend .full-size;
  position: fixed;

  background-size: cover;
}

//  logo
.logo-common {
  left: 57px;
  top: 41px;
  width: 244px;
  height: 38px;
  background: url("../images/logo-common.png") no-repeat;
  z-index: 10;
}

//  nav
.nav {
  bottom: 0;
  left: 630px;
  z-index: 100;
  width: 762px;

  .item {
    display: inline-block;
    width: 68px;
    height: 134px;
    font-size: 0;
    margin: 0 52/2*1px;
    background: no-repeat center center;
    background-size: cover;
  }

  .item01 { background-image: url("../images/nav01.png"); }
  .item02 { background-image: url("../images/nav02.png"); }
  .item03 { background-image: url("../images/nav03.png"); }
  .item04 { background-image: url("../images/nav04.png"); }
  .item05 { background-image: url("../images/nav05.png"); }
  .item06 { background-image: url("../images/nav06.png"); }
}

//  车型选择 tab
.car-type-tab {
  top: 264px;
  right: 56px;
  padding-top: 15px;

  .item {
    width: 142px;
    height: 133px;
    margin-top: -15px;
    background: url("../images/car-type-select.png") no-repeat 4px 4px;
    cursor: pointer;
    position: relative;

    .badge {
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 20px;
      position: absolute;
      top: 8px;
      left: 8px;
      font-style: normal;
      background: $orange;
      opacity: 0;
    }

    .triangle {
      opacity: 0;
      position: absolute;
      width: 15px;
      height: 26px;
      left: -40px;
      top: 60px;
      background: url("../images/icon-triangle-left.png") no-repeat;
    }

    .icon {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/car-type-tab-jiaoche.png") no-repeat center center;
      transition: all .3s;
    }

    &.active {
      z-index: 10;
      background: url("../images/car-type-select-active.png") no-repeat;

      .badge {
        opacity: 1;
      }

      .triangle {
        opacity: 1;
        animation: left 1.2s .2s 3 linear forwards;
      }

      .icon {
        background: url("../images/car-type-tab-jiaoche-active.png") no-repeat center center;
      }
    }
  }

  &.jiaoche {
    .item {
      .icon { background: url("../images/car-type-tab-jiaoche.png") no-repeat center center; }

      &.active {
        .icon {
          background: url("../images/car-type-tab-jiaoche-active.png") no-repeat center center;
        }
      }
    }
  }

  &.haohua {
    .item {
      .icon { background: url("../images/car-type-tab-haohua.png") no-repeat center center; }

      &.active {
        .icon {
          background: url("../images/car-type-tab-haohua-active.png") no-repeat center center;
        }
      }
    }
  }

  &.suv {
    .item {
      .icon { background: url("../images/car-type-tab-suv.png") no-repeat center center; }

      &.active {
        .icon {
          background: url("../images/car-type-tab-suv-active.png") no-repeat center center;
        }
      }
    }
  }
}


//  车型选择 select
.car-type-select {
  top: 676px;
  right: 60px;
}

//  scene01
.scene01 {
  background-image: url("../images/s01-bg.jpg") ;

  .scene-bd {

  }

  .icon-close {
    width: 60px;
    height: 60px;
    top: 23px;
    right: 26px;
    background: url("../images/icon-close-big.png") no-repeat center center;
    cursor: pointer;
    z-index: 10;
  }

  .time {
    top: 34px;
    left: 0;
    right: 0;
    line-height: 40px;
    font-size: 26px;
    text-align: center;
  }

  .logo {
    @extend .full-size;
    text-align: center;
    line-height: 0;
    top: 260px;

    .img02 {
      display: inline-block;
      margin-top: 16px;
    }
  }

  .description {
    top: 438px;
    margin-left: 318px;
    width: 1280px;
    font-size: 24px;
    line-height: 36px;

    strong {
      font-weight: normal;
      color: $orange;
    }
  }

  .entry-list {
    @extend .full-size;
    top: 675px;
    text-align: center;

    a {
      display: inline-block;
      width: 145px;
      height: 145px;
      margin: 0 114/2*1px;
      background: no-repeat;
      background-size: cover;
      font-size: 0;
    }

    .item01 { background-image: url("../images/s01-entry01.png"); }
    .item02 { background-image: url("../images/s01-entry02.png"); }
    .item03 { background-image: url("../images/s01-entry03.png"); }
    .item04 { background-image: url("../images/s01-entry04.png"); }
    .item05 { background-image: url("../images/s01-entry05.png"); }
  }
}

//  scene02
.scene02 {
  display: none;
  background-image: url("../images/s02-bg.jpg") ;

  .topic {
    .hd {
      right: 57px;
      top: 41px;
    }
  }

  .zhuangshi {
    top: 115px;
    left: 43px;

    .circle {
      top: 25px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      border: 1px solid #fff;
    }

    .line {
      top: 0;
      left: 12px;
      width: 2px;
      height: 92px;
      background: #404057;
    }
  }

  .title {
    top: 170px;
    left: 85px;

    .item01 {
      width: 131px;
      height: 38px;
      overflow: hidden;
    }

    .item02 {
      overflow: hidden;
      height: 38px;
      left: 140px;
    }
  }

  .person {
    width: 485px;
    height: 540px;
    top: 228px;
    left: 86px;
    background: url("../images/s02-person-bg.jpg") no-repeat;

    .avatar {
      top: 48px;
      left: 48px;
      width: 143px;
      height: 136px;
      padding: 20px;
      background: url("../images/avatar-bg.jpg") no-repeat;
    }

    .age {
      left: 247px;
      top: 192px;
      line-height: 31px;
      font-size: 22px;
      color: #516a96;
    }

    .hd {
      top: 276px;
      left: 54px;
      line-height: 36px;
      color: $orange;
      font-size: 28px;
    }

    .bd {
      top: 330px;
      left: 54px;
      width: 358px;
      line-height: 42px;
      font-size: 20px;
      color: #516a96;
    }
  }

  .car {
    top: 115px;
    left: 608px;
    width: 972px;
    height: 807px;
  }

  .car-bd {
    width: 100%;
    height: 100%;
    background: url("../images/suv-01.jpg") no-repeat;
  }
}

//  components
//  select
.select {
  width: 214px;

  &.active {
    .select-bd {
      display: block;
    }
  }
}

.select-hd {
  height: 55px;
  padding: 0 22px;
  line-height: 55px;
  background: url("../images/select-hd-bg.png") no-repeat;
  cursor: pointer;

  .icon {
    position: absolute;
    right: 19px;
    top: 24px;
    width: 17px;
    height: 10px;
    background: url("../images/icon-triangle-down.png") no-repeat;
  }
}

.select-bd {
  display: none;

  .bd {
    padding: 5px 0;
    background: url("../images/select-bd-bg.png") repeat-y;
  }

  .item {
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .item:hover {
    background: url("../images/select-bd-selected.png") repeat-y 10px 0;
  }

  .bottom {
    height: 8px;
    background: url("../images/select-bd-bottom.png") no-repeat;
  }
}

/*======================================================================
      Animations
  ======================================================================*/
@keyframes left {
  50% {
    transform: translate3d(-5px, 0, 0);
  }
}
